#card-container {
    position: relative;
}

#card-header, #card-subheader, #card-link-container {
    height: 40px;
}

#card-description {
    font-size: 22px;
    height: 150px;
    overflow-y: hidden;
}

#card-link {
    color: white;
    background: #ffcd1a;
    border-radius: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.favorite-button {
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge {
    display: inline-block;
}

.star-icon {
    color: #ccc;
    font-size: 1.5em;
}
  
.star-icon.favorite {
    color: gold;
}

@media (max-width: 992px) {
    .d-flex.align-items-center .badge {
      order: 2;
      margin-top: 0.5em;
    }
  
    .favorite-button {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      order: 1;
    }

    .card-title {
        padding-right: 2.8rem;
    }
}

.badge span {
    background-color: #fbecba;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
    color: #ffcd1a;
}

.progress {
    height: 10px;
    border-radius: 10px;
}

.progress div {
    background-color: #ffcd1a;
}

.text1 {
    font-size: 14px;
    font-weight: 600;
}

@keyframes shadow-pop-bl {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
    }
    100% {
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        transform: translateX(8px) translateY(-8px);
    }
}
.shadow-pop-bl:hover {
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}