.lesson-slide {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 25px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 10px;
  border-radius: 25px;
  scale: 0.9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}
@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
      100% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
      }
}
.scale-down-center {
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
        animation: scale-down-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}