 .navbar-brand {
    display: flex;
    align-items: center;
    color: white;
  }
  
  #login {
    z-index: 1;
    position: relative;
    border-radius: 25px;
    padding: 0 20px 0 45px;
    float: right;
    font-weight: 600;
    text-wrap: nowrap;
    background-color: #fce9aa;
  }
  
  #login:hover {
    background-color: #eaba05;
    color: white;
  }
  
  #signup {
    z-index: 2;
    position: relative;
    border-radius: 25px;
    padding: 0 20px;
    margin-right: -39px;
    font-weight: 600;
    text-wrap: nowrap;
    color: white;
    background-color: #ffcd1a;
  }
  
  #signup:hover {
    background-color: #fac80c;
  }
  
  #search-input:active, #search-input:focus {
    filter: drop-shadow(0px 1px 4px #d4d4d4);
  }

  nav {
    box-shadow: 0px 1px 10px #999;
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: #ffcd1a !important;
  }