@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

#lesson-swiper-container {
  height: 60vh;
  margin: 20px 0;
  overflow: hidden;
}

#block-guy {
  height: 60vh;
}