@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

* {
  font-family: Poppins, sans-serif;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

#lesson-swiper-container {
  height: 60vh;
  padding: 20px 0;
  overflow: hidden;
  background-color: #495057;
}

#intro-container {
  height: 70vh;
}